@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


a {

    text-decoration: none;

}


i {
    color: black;
}

    
body {

    background-color: rgba(255, 255, 255, 0.6);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {

    width: auto;
    height: 300px;
    margin: 10px;
    align-content: center;
    justify-content: center;
    
}


#logo {

    align-content: center;
    width: 300px;
    height: 280px;

}

#box1 {

    margin: 15px;
    justify-content: space-around;
    display: flex;
    

}

#titulo {

    align-content: center;
    width: 300px;
    height: 250px;
   
}

#titulo img {

    width: 300px;
    height: 280px;

}

#sesion {

    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;

}

#sesion a{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#perfil {

    margin: 25px;
    height: 50px;

}

.nav-lista {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border: 0;
    border-radius: 5px;
    background-color: rgba(49, 136, 250, 0.815);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.333);
    width: 90%;
    margin: auto;
    
}

.nav-lista li a {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.777);
    padding: 20px;
    display: flex;
    border-radius: 5px;
        
}

.nav-lista li {

    display: inline-block;
    text-align: center;

}

#subtitulo{

    width: 50%;
    height: 100px;
    margin: auto;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    align-content: center;

}

#subtitulo h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifq;

}

.uno {

    color:white;

}

#boxImg {

    display: flex;
    justify-content: center;


}

.comidasFavoritas {

    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(135, 206, 250), 0 6px 20px rgb(0, 0, 0, 0.19);
    width: 350px;

}

.comidaFotos img {

    width: 100%;
    height: 200px;

}

.comidaFotos:hover {

    border: 1px solid black;
    transform: rotate(-3deg);

}

.nav-lista li a:hover{

    background-color: rgba(167, 211, 239, 0.353);

}

#sesion a:hover {

    background-color: rgba(167, 211, 239, 0.353);

}

#open:hover {

    background-color: rgba(95, 184, 239, 0.674);

}

.comidaTexto {

    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 89, 255, 0.659);
    padding: 10px;

}

#Rest {

    width: 70%;
    height: 400px;
    align-items: center;
    display: flex;
    margin: auto;

}

.vxm {

    margin: 15px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.333);
}

.vxm h1, h2 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifq;
    color: black;

}

#ubi {

    width: auto;
    margin: 10px;
    align-content: center;

}

#box3 {

    width: 80%;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.333);

}

#ubicacion {

    width: 40%;
    margin: 10px;
    text-align: center;
    align-content: center;
    border-right: 1px solid black;
    padding: 10px 10px;

}

#Horarios {

    width: 50%;
    margin: 10px;
    text-align: center;
    align-content: center;
    border-right: 1px solid black;
    padding: 10px 10px;

}

#Contacto {

    width: 30%;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    align-content: center;
    border-right: 1px solid black;

}

#Reseña-1 {

    width: 20%;
    margin: 15px;
    text-align: center;
    align-content: center;

}


.red {

    color: rgba(0, 110, 255, 0.777);
    width: 50%;
    height: 20px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifq;

}

#insta {

    width: 30px;
    height: 30px;

}

#face {

    width: 30px;
    height: 30px;

}

#x {

    width: 30px;
    height: 30px;

}

#maps {

    width: 60%;
    height: 550px;
    margin: auto;
    display: flex;

}

#mat {

    margin: 5px;
    width: 100%;
    height: 530px;
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#mat h2 {

    font-size: 30px;

}


#ma {

    width: 100%;
    height: 500px;

}

#open {
    width: 90%;
    height: 60px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.941);
    background-color: rgba(49, 136, 250, 0.815);
    font-size: 17px;
    padding: 10px 25px;
  }

  #btn-open {

    width: 100%;
    height: 80px;
    align-content: center;

  }

  #open-1 {

    width: 20%;
    height: 40px;
    background-color: rgba(0, 110, 255, 0.733);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.336);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;

  }

  #close {

    width: 20%;
    height: 40px;
    background-color: rgba(0, 110, 255, 0.733);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;

  }
  
  .modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.5s ease;
  }
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal {
    background-color: #ffffff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal h1 {
    margin: 0;
  }

  .nom-bre {

    margin-bottom: 30px;
    position: relative;
    
  }

  .nom-bre, input {

    width: 100%;
    padding: 15px;
    outline: 0;
    color: #000000;
    font-size: 15px;
    border: 1px solid black;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: transparent;

  }

  #nom {

    width: 100%;
    height: 250px;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);

  }

  textarea {

    width: 80%;
    padding: 15px;
    margin: 15px;
    outline: 0;
    color: #000000;
    font-size: 15px;
    border: 1;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: transparent;

  }

  label {

    height: 100%;
    position: absolute;

  }

  .tex-2 {

    width: auto;
    height: 30px;
    border: 0;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  }

/*
@media (max-width:600px) {
    
    body{
        background-color: #000000;
    }

}

@media (min-width:600px) {
    
    body{
        background-color: #ff0000;
    }

}

*/