<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potres</title>
    <link rel="stylesheet" type="text/css" href="../static/css/entradas.css"/>
</head>
<body>

<div id="barraNavegacion">
    <ul class="nav-lista">
        <li><a href="/templates/inicio.html">Inicio</a></li>
        <li><a href="/templates/entradas.html">Entradas y Ensaladas</a></li>
        <li><a href="/templates/fondos.html">Fondos</a></li>
        <li><a href="/templates/postres.html">Postres</a></li>
        <li><a href="/templates/vinos.html">Tipos de Vinos</a></li>
    </ul>
</div>

<div id="tit">
    <h1 id="pos">°ENTRADAS°</h1>
</div>

<div class="Ensaladas-Ensaladas">
    <div class="ensala">
        <h3>SOPA DEL DÍA</h3>
        <div class="asada">
            <img src="/static/img/img2/Sopa-de-pescado-y-marisco-receta.jpg"  alt="">
        </div>
        <div class="difini">
            <p>Suave y delicada sopa preparada con productos de
                temporada de nuestra huerta orgánica.</p>
            <p>Precio: $6.999</p>
        </div> 
    </div>
<br>
    <div class="ensala ">
        <h3>TARTARO DE ATÚN</h3>
        <div class="asada">
            <img src="/static/img/img2/depositphotos_131833916-stock-photo-tuna-tartare-with-greens.jpg" alt="">
        </div>
        <div class="difini">
            <p>Fresco atún aderezado con paltas biodinámicas,
                morrón rojo, cebollín, alcaparras y
                semillas de sésamo, servidas con finas tostadas.</p>
            <p>Precio: $9.999</p>
        </div>
    </div>
<br>
    <div class="ensala">
        <h3>CEVICHE MIXTO EN EQUILIBRIO</h3>
        <div class="asada">
            <img src="/static/img/img2/Receta-de-Ceviche-Mixto-Peruano.webp" alt="">
        </div>
        <div class="difini">
            <p>Mix de salmón y pescado fresco de la zona, mezclado
                con cebolla morada, cilantro, apio, pimientos, servido
                con nuestro aderezo especial.</p>
            <p>Precio: $10.999</p>
        </div>
    </div>
    <br>
    <div class="ensala">
        <h3>CAMARÓN NACIONAL</h3>
        <div class="asada">
            <img src="/static/img/img2/camaron_primera.jpg" alt="">
        </div>
        <div class="difini">
            <p>Camarones cocinados al vapor, con limón, perejil,
                ajo, con espárragos y champiñón salteado y 
                sazonado con pimienta negra y un toque de jengibre.</p>
            <p>Precio: $11.999</p>
        </div> 
    </div>
</div>

<div id="tit">
    <h1 id="pos">°ENSALADAS°</h1>
</div>

<!-- Ensaladas-y-Entradas -->

<div class="Ensaladas-Ensaladas">
    <div class="ensala">
        <h3>TIRADITO DEL HUERTO</h3>
        <div class="asada">
            <img src="/static/img/img2/Ensalada-de-rosario.jpg" alt="">
        </div>
        <div class="difini">
            <p>Finas láminas de pepinos reposadas en aliño de vinagre
                de manzana, acompañada de
                tomates cherry, hojas de endivia y palmitos.</p>
            <p>Precio: $8.999</p>
        </div>
    </div>
<br>
    <div class="ensala">
        <h3>ENSALADA DE QUINOA</h3>
        <div class="asada">
            <img src="/static/img/img2/ensalada-de-quinoa-655x368.webp" alt="">
        </div>
        <div class="difini">
            <p>Fresco mix de hojas verdes y lechugas, 
                servida con quinoa, tomates cherry y menta,
                acompañado de un fresco dressing de la casa.</p>
            <p>Precio: $8.999</p>
        </div>
    </div>
<br>
    <div class="ensala">
        <h3>ENSALADA DEL HUERTO</h3>
        <div class="asada">
            <img src="/static/img/img2/RE177.jpg" alt="">
        </div>
        <div class="difini">
            <p>Fresco mix de hojas verdes y lechugas,
                 mezcladas con zanahoria, rabanitos, pepino y
                semillas de zapallo, servida con aderezo de aceto
                balsámico y aceite de oliva.</p>
            <p>Precio: $9.999</p>
        </div>
    </div>
<br>
    <div class="ensala">
        <h3>ENSALADA DEL HUERTO</h3>
        <div class="asada">
            <img src="/static/img/img2/tiradito-apaltado-7-480x270.jpg" alt="">
        </div>
        <div class="difini">
            <p>FMix fresco de hojas verdes y lechugas 
                con queso de cabra, almendras tostadas y
                arándanos, servida con un
                aderezo con zeste de naranja y clavo de olor..</p>
                <p>Precio: $10.999</p>
        </div>
    </div>

</div>

</div>

<div id="tit">
<h1 id="pos">°ENTRANCE°</h1>
</div>

<div class="Ensaladas-Ensaladas">
    <div class="ensala">
        <h3>SOUP OF THE DAY</h3>
        <div class="asada">
            <img src="/static/img/img2/Sopa-de-pescado-y-marisco-receta.jpg" alt="">
        </div>
        <div class="difini">
            <p>Smooth and delicate soup prepared with seasonal
                ingredients from our own organic kitchen garden.</p>
            <p>Price: $6.999</p>
        </div> 
    </div>
<br>
    <div class="ensala ">
        <h3>TUNA TARTAR</h3>
        <div class="asada">
            <img src="/static/img/img2/depositphotos_131833916-stock-photo-tuna-tartare-with-greens.jpg" alt="">
        </div>
        <div class="difini">
            <p>Fresh tuna seasoned with biodynamic avocado, red
                bell pepper, and green onion from our kitchen garden,
                with capers, and sesame seeds, served with toast</p>
            <p>Price: $9.999</p>
        </div>
    </div>
<br>
    <div class="ensala">
        <h3>MIXED CEVICHE IN EQUILIBRIO</h3>
        <div class="asada">
            <img src="/static/img/img2/Receta-de-Ceviche-Mixto-Peruano.webp" alt="">
        </div>
        <div class="difini">
            <p>A mix of salmon and fresh local fish, mixed with red
                onion, cilantro, celery, and bell pepper, served with our
                special house dressing.</p>
            <p>Price: $10.999</p>
        </div>
    </div>
    <br>
    <div class="ensala">
        <h3>CHILEAN SHRIMP</h3>
        <div class="asada">
            <img src="/static/img/img2/camaron_primera.jpg" alt="">
        </div>
        <div class="difini">
            <p>Fresh shrimp from the San Antonio coast, steamed and
                seasoned, served with
                sautéed asparagus and paris mushrooms seasoned with
                black pepper and a hint of ginger.</p>
            <p>Price: $11.999</p>
        </div> 
    </div>
</div>

<div id="tit">
    <h1 id="pos">°SALADS°</h1>
</div>

<!-- Ensaladas-y-Entradas -->

<div class="Ensaladas-Ensaladas">
    <div class="ensala">
        <h3>GARDEN FRESH TIRADITO</h3>
        <div class="asada">
            <img src="/static/img/img2/Ensalada-de-rosario.jpg" alt="">
        </div>
        <div class="difini">
            <p>Thin slices of cucumber marinated in apple cider
                vinegar and spices from our kitchen garden, with a side
                of cherry tomatoes, endive, and hearts of palm.</p>
            <p>Price: $8.999</p>
        </div>
    </div>
<br>
    <div class="ensala">
        <h3>QUINOA SALAD</h3>
        <div class="asada">
            <img src="/static/img/img2/ensalada-de-quinoa-655x368.webp" alt="">
        </div>
        <div class="difini">
            <p>Fresh mixed greens from our garden served with
                quinoa, cherry tomatoes, and mint with a fresh house
                dressing.</p>
            <p>Price: $8.999</p>
        </div>
    </div>
<br>
    <div class="ensala">
        <h3>GARDEN SALAD</h3>
        <div class="asada">
            <img src="/static/img/img2/RE177.jpg" alt="">
        </div>
        <div class="difini">
            <p>Fresh mixed greens from our garden with carrots,
                radishes, cucumber, and pumpkin seeds, served with a
                balsamic vinaigrette.</p>
            <p>Price: $9.999</p>
        </div>
    </div>
<br>
    <div class="ensala">
        <h3>ROSARIO SALAD</h3>
        <div class="asada">
            <img src="/static/img/img2/tiradito-apaltado-7-480x270.jpg" alt="">
        </div>
        <div class="difini">
            <p>Fresh mixed greens and hydroponic lettuce with
                La Vinilla goat cheese, toasted almonds, and blueberries
                from the Rosario Valley, served with an orange zest
                and clove dressing..</p>
                <p>Precio: $10.999</p>
        </div>
    </div>

</div>

<div id="box3">

    <div id="ubicacion">
        <h3 class="red">ESTAMOS EN:</h3>
        <br>
        <p>Flor de coral 8040, Renca Santiago de Chile</p>
    </div>

    <div id="Horarios">
        <h3 class="red">HORARIOS:</h3>
        <br>
        <p>De Martes a Sábado: 12:30- 21:30 Domingo: 13:00- 18:00 Lunes: Cerrado</p>
    </div>
<br>
<br>
    <div id="Contacto">
        <h3 class="red">CONTACTO:</h3>
        <p>+569 3312 7632 gisgisg@equilibrio.com
        </p>
        <a href="https://www.instagram.com/">
            <img src="/static/img/img1/square-instagram-brands-solid.svg" id="insta">
        </a>
        <a href="https://www.facebook.com/?locale=es_LA">
            <img src="/static/img/img1/facebook-brands-solid.svg" id="face">
        </a>
        <a href="https://x.com/?lang=es">
            <img src="/static/img/img1/xmark-solid.svg" id="x">
        </a> 
    </div>

</div>

</body>

</html>