<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/fondos.css">
    <title>Document</title>
</head>
<body>

    <div id="barraNavegacion">
        <ul class="nav-lista">
            <li><a href="/templates/inicio.html">Inicio</a></li>
            <li><a href="/templates/entradas.html">Entradas y Ensaladas</a></li>
            <li><a href="/templates/fondos.html">Fondos</a></li>
            <li><a href="/templates/postres.html">Postres</a></li>
            <li><a href="/templates/vinos.html">Tipos de Vinos</a></li>
        </ul>
    </div>
    
    <div id="tit">
        <h1 id="pos">°FONDOS°</h1>
    </div>

    <div class="contenedor1">
        <div class="postres ">
            <br>
            <h3>ASADO DE TIRA</h3>
            <div class="asada">
                <img src="/static/img/img3/la-tira-de-asado-varia-se-precio-segun-se-lo-LQ2ODSIAN5FMPKD2G722FLCXUM.avif"  alt="">
            </div>
            <br>
            <div class="difini">
                <p>Corte de costilla de res braseado al Syrah,
                    cocinado con método Sous-Vide a baja temperatura
                    por largas horas en horno, servido con Papardelle
                    en salsa Huancaína.</p>
                <p>Precio: $18.900</p> 
            </div>
        </div>
<br>
        <div class="postres ">
            <br>
            <h3>PESCA DEL DÍA </h3>
            <div class="asada">
                <img src="/static/img/img3/como_saber_si_el_pescado_es_fresco_31613_orig.jpg"  alt="">
            </div>
            <br>
            <div class="difini">
                <p>Pesca del día a la plancha, con nuestra receta de
                    la casa servida con vegetales salteados y sazonados
                    con sésamo tostado.</p>
                <p>Precio: $15.900</p>
            </div>
        </div>
<br>
        <div class="postres">
            <br>
            <h3>TORTELINNI</h3>
            <div class="asada">
                <img src="/static/img/img3/e3ff0abe-e56d-4010-a722-417b4087dec9.avif"  alt="">
            </div>
            <br>
            <div class="difini">
                <p>Pasta fresca hecha en casa, rellena con puré de zapallo,
                    camote asado con un toque de queso azul y salsa
                    pomodoro hecha con productos de nuestro huerto
                    orgánico.</p>
                <p>Precio: $14.900</p>
            </div>
        </div>
    </div>

    <div class="contenedor1">
        <div class="postres ">
            <br>
            <h3>PLATEADA ASADA</h3>
            <div class="asada">
                <img src="/static/img/img3/94f419f13a42f3da6e382262628f6a89.jpeg"  alt="">
            </div>
            <br>
            <div class="difini">
                <p>Plateada elaborada con la clásica cocción en horno a
                    bajas temperaturas por largas horas, servida con suave
                    puré de papa camote.</p>
                <p>Precio: $15.900</p>
            </div>
        </div>
<br>
        <div class="postres ">
            <br>
            <h3>GARRÓN DE CORDERO</h3>
            <div class="asada">
                <img src="/static/img/img3/paso_a_paso_para_realizar_paletilla_de_cordero_al_horno_con_escalonias_y_patatas_resultado_final_adbe15c1_600x600.jpg"  alt="">
            </div>
            <br>
            <div class="difini">
                <p>Tierno garrón de cordero braseado al Syrah,
                    acompañado con un cremoso mote con
                    vegetales, servido con paltas asadas.</p>
                <p>Precio: $17.900</p>
            </div>
        </div>
<br>
        <div class="postres ">
            <br>
            <h3>GUISO DEL HUERTO</h3>
            <div class="asada">
                <img src="/static/img/img3/pngtree-stew-with-meat-and-vegetables-in-tomato-sauce-on-wooden-background-image_15872146.jpg"  alt="">
            </div>
            <br>
            <div class="difini">
                <p>Delicioso y típico guiso Chileno, con variedad de
                    vegetales, servido con habas y
                    espárragos frescos salteados, acompañado de
                    arroz blanco.</p>
                <p>Precio: $14.900</p>
            </div>
        </div>
    </div>

</div>

<div id="tit">
    <h1 id="pos">°DESSERTS°</h1>
</div>

<div class="contenedor1">
    <div class="postres ">
        <br>
        <h3>ROASTED MILK</h3>
        <div class="asada">
            <img src="/static/img/img3/la-tira-de-asado-varia-se-precio-segun-se-lo-LQ2ODSIAN5FMPKD2G722FLCXUM.avif"  alt="ASADO DE TIRA">
        </div>
        <br>
        <div class="difini">
            <p>Syrah braised beef rib cut,
                cooked with Sous-Vide method at low temperature
                for long hours in the oven, served with Papardelle
                in Huancaína sauce.</p>
            <p>Price: $15.900</p>
        </div> 
    </div>
<br>
    <div class="postres ">
        <br>
        <h3>FRUIT OF THE SEASON</h3>
        <div class="asada">
            <img src="/static/img/img3/como_saber_si_el_pescado_es_fresco_31613_orig.jpg"  alt="PESCA DEL DÍA">
        </div>
        <br>
        <div class="difini">
            <p>Grilled catch of the day, with our recipe
                the house served with sautéed and seasoned vegetables
                with toasted sesame.</p>
            <p>Price: $5.999</p>
        </div>
    </div>
<br>
    <div class="postres ">
        <br>
        <h3>CHOCOLATE VOLCANO</h3>
        <div class="asada">
            <img src="/static/img/img3/e3ff0abe-e56d-4010-a722-417b4087dec9.avif"  alt="PLATEADA ASADA">
        </div>
        <br>
        <div class="difini">
            <p>Fresh homemade pasta, filled with pumpkin puree,
                Roasted sweet potato with a touch of blue cheese and salsa
                pomodoro made with products from our garden
                organic.</p>
            <p>Price: $5.999</p>
        </div>
    </div>
</div>

<div class="contenedor1">
    <div class="postres ">
        <br>
        <h3>BLUEBERRY CHEESECAKE</h3>
        <div class="asada">
            <img src="/static/img/img3/94f419f13a42f3da6e382262628f6a89.jpeg"  alt="PLATEADA ASADA">
        </div>
        <br>
        <div class="difini">
            <p>Plated made with the classic oven firing
                low temperatures for long hours, served with soft
                sweet potato mashed potatoes.</p>
            <p>Price: $5.999</p>
        </div>
    </div>
<br>
    <div class="postres ">
        <br>
        <h3>PANCAKES WITH DECK</h3>
        <div class="asada">
            <img src="/static/img/img3/paso_a_paso_para_realizar_paletilla_de_cordero_al_horno_con_escalonias_y_patatas_resultado_final_adbe15c1_600x600.jpg"  alt="GARRÓN DE CORDERO">
        </div>
        <br>
        <div class="difini">
            <p>Tender rack of lamb braised in Syrah,
                accompanied with a creamy mote con
                vegetables, served with roasted avocados.</p>
            <p>Price: $5.999</p>
        </div>
    </div>
<br>
    <div class="postres ">
        <br>
        <h3>SHEET CAKE</h3>
        <div class="asada">
            <img src="/static/img/img3/pngtree-stew-with-meat-and-vegetables-in-tomato-sauce-on-wooden-background-image_15872146.jpg"  alt="GUISO DEL HUERTO">
        </div>
        <br>
        <div class="difini">
            <p>Delicious and typical Chilean stew, with a variety of
                vegetables, served with beans and
                sautéed fresh asparagus, accompanied by
                white rice.</p>
            <p>Price: $5.999</p>
        </div>
    </div>
</div>

<div id="box3">

    <div id="ubicacion">
        <h3 class="red">ESTAMOS EN:</h3>
        <p>Flor de coral 8040, Renca Santiago de Chile</p>
    </div>

    <div id="Horarios">
        <h3 class="red">HORARIOS:</h3>
        <p>De Martes a Sábado: 12:30- 21:30 Domingo: 13:00- 18:00 Lunes: Cerrado</p>
    </div>

    <div id="Contacto">
        <h3 class="red">CONTACTO:</h3>
        <p>+569 3312 7632 gisgisg@equilibrio.com</p>
        <div id="anclaje">
            <a href="https://www.instagram.com/">
                <img src="/static/img/img1/square-instagram-brands-solid.svg" id="insta">
            </a>
            <a href="https://www.facebook.com/?locale=es_LA">
                <img src="/static/img/img1/facebook-brands-solid.svg" id="face">
            </a>
            <a href="https://x.com/?lang=es">
                <img src="/static/img/img1/xmark-solid.svg" id="x">
            </a>
        </div>
    </div>

</div>

</div>

</body>
</html>
