<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restuaran</title>
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css" />
    <script src="https://kit.fontawesome.com/8fc69e8886.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>

        <div id="box1">

            <div id="titulo">
                <img src="/static/img/img1/equilibrio-Photoroom.png" alt="">
            </div>

            <img id="logo" src="/static/img/img1/Equilibrio2-Photoroom.png">

            <div id="sesion">
                <a href="">Iniciar sesión</a>
                <img id="perfil" src="/static/img/img1/user-solid.svg">
            </div>

        </div>

    </header>
<br>
    <div id="barraNavegacion">
        <ul class="nav-lista">
            <li><a href="/templates/inicio.html">Inicio</a></li>
            <li><a href="/templates/entradas.html">Entradas y Ensaladas</a></li>
            <li><a href="/templates/fondos.html">Fondos</a></li>
            <li><a href="/templates/postres.html">Postres</a></li>
            <li><a href="/templates/vinos.html">Tipos de Vinos</a></li>
        </ul>
    </div>
    <br>
    <div id="subtitulo">
        <h1>Equilibrio Los Platos Mas Pedidos</h1>
    </div>
    <br>
    <div id="boxImg">
        <div class="comidasFavoritas">
            <div class="comidaFotos">
                <img src="/static/img/img1/e3ff0abe-e56d-4010-a722-417b4087dec9.avif" alt="">
            </div>
            <div class="comidaTexto">
                <p>Tortelinni</p>
                <p>Precio $11.500</p>
            </div>
        </div>

        <div class="comidasFavoritas">
            <div class="comidaFotos">
                <img src="/static/img/img1/Sopa-de-pescado-y-marisco-receta.jpg" alt="">
            </div>
            <div class="comidaTexto">
                <p>Sopa de mariscos</p>
                <p>Precio $12.400</p>
            </div>
        </div>

        <div class="comidasFavoritas">
            <div class="comidaFotos">
                <img src="/static/img/img1/Receta-de-Ceviche-Mixto-Peruano.webp" alt="">
            </div>
            <div class="comidaTexto">
                <p>Ceviche Mixto</p>
                <p>Precio $13.100</p>
            </div>
        </div>
    </div>

    <div id="boxImg">
        <div class="comidasFavoritas">
            <div class="comidaFotos">
                <img src="/static/img/img1/20190726201044asado-de-tira-al-vino-tinto-y-pimienta.jpg" alt="">
            </div>
            <div class="comidaTexto">
                <p>Asado de Tira</p>
                <p>Precio $15.500</p>
            </div>
        </div>

        <div class="comidasFavoritas">
            <div class="comidaFotos">
                <img src="/static/img/img1/Carne-mechada02.jpg" alt="">
            </div>
            <div class="comidaTexto">
                <p>Platiada asada</p>
                <p>Precio $16.400</p>
            </div>
        </div>

        <div class="comidasFavoritas">
            <div class="comidaFotos">
                <img src="/static/img/img1/4107_1.jpg" alt="">
            </div>
            <div class="comidaTexto">
                <p>Camarones Italianos</p>
                <p>Precio $15.100</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div id="Rest">

        <div id="VisionMision">
            <div class="vxm">
                <h1>Visión:</h1>
                <h2>En Restaurant Equilibrio, nuestra visión es ser el mejor restaurant a nivel nacional,
                    dedicado al rubro de los pescados y mariscos. Otorgando servicios y productos
                    de excelencia a sus clientes y brindar posibilidades de desarrollo a su personal,trato justo a sus
                    proveedores.</h2>
            </div>
            <div class="vxm">
                <h1>Misión:</h1>
                <h2>El restaurant tiene la misión de satisfacer las necesidades gastronómicas
                    de nuestros clientes, ofreciendo alimentos y servicios con la más alta calidad,
                    donde se sobrepasen las expectativas de nuestros clientes. Tomando como estrategia
                    principal el mejoramiento continuo de los estrictos estándares de higiene y buen
                    serivicio en un ambiente seguro, agradable y familiar.</h2>
            </div>
        </div>

    </div>
    <br>
    <br>
    <div id="maps">

        <div id="mat">
            <h2>Aqui estamos!</h2>
            <iframe id="ma"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106590.86279519302!2d-70.81208374826299!3d-33.39809133950505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c172b68056c7%3A0x86208233c0d48abc!2sFlor%20de%20Coral%208040%2C%208661402%20Renca%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1724039688237!5m2!1ses-419!2scl"
                width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
    <br>
    <div id="box3">

        <div id="ubicacion">
            <h3 class="red">ESTAMOS EN:</h3>
            <br>
            <p>Flor de coral 8040, Renca Santiago de Chile</p>
        </div>

        <div id="Horarios">
            <h3 class="red">HORARIOS:</h3>
            <br>
            <p>De Martes a Sábado: 12:30- 21:30 Domingo: 13:00- 18:00 Lunes: Cerrado</p>
        </div>

        <div id="Contacto">
            <h3 class="red">CONTACTO:</h3>
            <br>
            <p>+569 3312 7632 gisgisg@equilibrio.com</p>
            <a href="https://www.instagram.com/">
                <img src="/static/img/img1/square-instagram-brands-solid.svg" id="insta">
            </a>
            <a href="https://www.facebook.com/?locale=es_LA">
                <img src="/static/img/img1/facebook-brands-solid.svg" id="face">
            </a>
            <a href="https://x.com/?lang=es">
                <img src="/static/img/img1/xmark-solid.svg" id="x">
            </a>
        </div>

        <div id="Reseña-1">

            <button id="open">
                Dejar Reseña
            </button>

            <div id="modal_container" class="modal-container">
                <div class="modal">
                    <h1>Dejanos tu reseña</h1>
                    <br>
                    <form>
                        <div class="nom-bre">
                            <label for="nombre"></label>
                            <input type="text" id="name" placeholder="Nombre">
                        </div>
                        <div class="nom-bre">
                            <label for="email"></label>
                            <input type="email" id="email" placeholder="Email">
                        </div>
                        <div id="nom">
                            <textarea id="mensaje" rows="8"></textarea>
                            <label for="mensaje"></label>
                            <button id="open-1">Enviar</button>
                        </div>
                        <br>
                        <button id="close">Cerrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="/static/js/inicio.js"></script>

</body>

</html>