<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potres</title>
    <link rel="stylesheet" type="text/css" href="../static/css/postres.css"/>
</head>
<body>

    <div id="barraNavegacion">
        <ul class="nav-lista">
            <li><a href="/templates/inicio.html">Inicio</a></li>
            <li><a href="/templates/entradas.html">Entradas y Ensaladas</a></li>
            <li><a href="/templates/fondos.html">Fondos</a></li>
            <li><a href="/templates/postres.html">Postres</a></li>
            <li><a href="/templates/vinos.html">Tipos de Vinos</a></li>
        </ul>
    </div>
    
    <div id="tit">
        <h1 id="pos">°POSTRES°</h1>
    </div>

    <div class="contenedor1">
        <div class="postres ">
            <h3>LECHE ASADA</h3>
            <div class="asada">
                <img src="/static/img/img4/receta-de-leche-asada-con-leche-condensada-Paulina-Cocina-Recetas.jpg"  alt="">
            </div>
            <p>Receta casera para un clásico de nuestra cocina</p>
            <p>Precio: $5.999</p> 
        </div>
<br>
        <div class="postres ">
            <h3>FRUTA DE LA ESTACIÓN</h3>
            <div class="asada">
                <img src="/static/img/img4/frutas.jpg"  alt="">
            </div>
            <p>Selección de frutas naturales de la estación.</p>
            <p>Precio: $5.999</p>
        </div>
<br>
        <div class="postres ">
            <h3>VOLCÁN DE CHOCOLATE</h3>
            <div class="asada">
                <img src="/static/img/img4/BClatam-recipe-volcan-de-chocolate.webp"  alt="">
            </div>
            <p>Delicioso volcán de chocolate con helado de vainilla.</p>
            <p>Precio: $7.999</p>
        </div>
    </div>

    <div class="contenedor1">
        <div class="postres ">
            <h3>CHEESECAKE DE ARÁNDANO</h3>
            <div class="asada">
                <img src="/static/img/img4/paso_a_paso_para_realizar_cheesecake_con_arandanos_resultado_final_e3aac647_720x360.jpg"  alt="">
            </div>
            <p>Exquisito y cremoso cheesecake con salsa de arándanos.</p>
            <p>Precio: $7.999</p>
        </div>
<br>
        <div class="postres ">
            <h3>PANQUEQUES CON MANJAR</h3>
            <div class="asada">
                <img src="/static/img/img4/principal_5d320c47de661.jpg"  alt="">
            </div>
            <p>Panqueques rellenos de manjar, servido con helado.</p>
            <p>Precio: $5.999</p>
        </div>
<br>
        <div class="postres ">
            <h3>TORTA DE HOJA</h3>
            <div class="asada">
                <img src="/static/img/img4/Torta-de-vainilla-con-manjar-y-nuez.jpg"  alt="">
            </div>
            <p>Torta de finas hojas horneadas, rellena con manjar.</p>
            <p>Precio: $8.999</p>
        </div>
    </div>

</div>

<div id="tit">
    <h1 id="pos">°DESSERTS°</h1>
</div>

<div class="contenedor1">
    <div class="postres ">
        <h3>ROASTED MILK</h3>
        <div class="asada">
            <img src="/static/img/img4/receta-de-leche-asada-con-leche-condensada-Paulina-Cocina-Recetas.jpg"  alt="">
        </div>
        <p>Homemade recipe for a classic of our cuisine</p>
        <p>Price: $5.999</p> 
    </div>
<br>
    <div class="postres ">
        <h3>FRUIT OF THE SEASON</h3>
        <div class="asada">
            <img src="/static/img/img4/frutas.jpg"  alt="">
        </div>
        <p>
            Selection of natural seasonal fruits.</p>
        <p>Price: $5.999</p>
    </div>
<br>
    <div class="postres ">
        <h3>CHOCOLATE VOLCANO</h3>
        <div class="asada">
            <img src="/static/img/img4/BClatam-recipe-volcan-de-chocolate.webp"  alt="">
        </div>
        <p>Delicious chocolate volcano with vanilla ice cream.</p>
        <p>Price: $5.999</p>
    </div>
</div>

<div class="contenedor1">
    <div class="postres ">
        <h3>BLUEBERRY CHEESECAKE</h3>
        <div class="asada">
            <img src="/static/img/img4/paso_a_paso_para_realizar_cheesecake_con_arandanos_resultado_final_e3aac647_720x360.jpg"  alt="">
        </div>
        <p>Exquisite and creamy cheesecake with cranberry sauce.</p>
        <p>Price: $5.999</p>
    </div>
<br>
    <div class="postres ">
        <h3>PANCAKES WITH DECK</h3>
        <div class="asada">
            <img src="/static/img/img4/principal_5d320c47de661.jpg"  alt="">
        </div>
        <p>Pancakes stuffed with delicacy, served with ice cream.</p>
        <p>Price: $5.999</p>
    </div>
<br>
    <div class="postres ">
        <h3>SHEET CAKE</h3>
        <div class="asada">
            <img src="/static/img/img4/Torta-de-vainilla-con-manjar-y-nuez.jpg" alt="">
        </div>
        <p>Cake of thin baked sheets, filled with delicacy.</p>
        <p>Price: $5.999</p>
    </div>
</div>

<div id="box3">

    <div id="ubicacion">
        <h3 class="red">ESTAMOS EN:</h3>
        <p>Flor de coral 8040, Renca Santiago de Chile</p>
    </div>

    <div id="Horarios">
        <h3 class="red">HORARIOS:</h3>
        <p>De Martes a Sábado: 12:30- 21:30 Domingo: 13:00- 18:00 Lunes: Cerrado</p>
    </div>

    <div id="Contacto">
        <h3 class="red">CONTACTO:</h3>
        <p>+569 3312 7632 gisgisg@equilibrio.com</p>
        <div id="anclaje">
            <a href="https://www.instagram.com/">
                <img src="/static/img/img1/square-instagram-brands-solid.svg" id="insta">
            </a>
            <a href="https://www.facebook.com/?locale=es_LA">
                <img src="/static/img/img1/facebook-brands-solid.svg" id="face">
            </a>
            <a href="https://x.com/?lang=es">
                <img src="/static/img/img1/xmark-solid.svg" id="x">
            </a>
        </div>
    </div>

</div>

</div>
</body>
</html>