<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas y tipos de Vinos</title>
    <link rel="stylesheet" href="../static/css/vinos.css">
</head>

<body>

    <div id="barraNavegacion">
        <ul class="nav-lista">
            <li><a href="/templates/inicio.html">Inicio</a></li>
            <li><a href="/templates/entradas.html">Entradas y Ensaladas</a></li>
            <li><a href="/templates/fondos.html">Fondos</a></li>
            <li><a href="/templates/postres.html">Postres</a></li>
            <li><a href="/templates/vinos.html">Tipos de Vinos</a></li>
        </ul>
    </div>

    <div id="tit">
        <h1 id="pos">°TIPOS DE VINOS°</h1>
    </div>
    <div id="subt">
        <h2>Espumantes</h2>
        <h2>Tintos</h2>
    </div>
    <br>
    <div id="Contenedor-1">
        <div class="cont-1">
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto1.jpg"  alt="COASTAL BRUT">
                <div class="texp">
                    <h4>CORRALILLO CABERNET SAUVIGNONq</h4>
                    <p>San Antonio Variedad/Variety: Chardonnay & Pinot Noir</p>
                    <p>Precio: Botella 750 ml $28.000 · Copa 187 ml $4.980</p>
                </div>
            </div>
            <br>
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto2.jpg" 
                    alt="COASTAL BRUT">
                <div class="texp">
                    <h4>CORRALILLO CARMENERE</h4>
                    <p>. San Antonio Variedad/Variety: Sauvignon Blanc</p>
                    <p>Precio: Botella 750 ml $14.000 · Bot. 375 ml $7.000 Copa 187 ml $4.800</p>
                </div>
            </div>
            <br>
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto3.webp" alt="COASTAL BRUT">
                <div class="texp">
                    <h4>CORRALILLO WINEMAKER’S BLEND</h4>
                    <p>. Casablanca Variedad/Variety: Sauvignon Blanc</p>
                    <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                </div>
            </div>
            <br>
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto4.jpg"  alt="COASTAL BRUT">
                <div class="texp">
                    <h4>CORRALILLO SYRAH</h4>
                    <p>San Antonio Variedad/Variety: Sauvignon Blanc</p>
                    <p>Precio: Botella 750 ml $18.000 · Copa 187 ml $4.800</p>
                </div>
            </div>
            <br>
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto5.webp" alt="COASTAL BRUT">
                <div class="texp">
                    <h4>EQ COOL CLIMATE SYRAH</h4>
                    <p>Casablanca Variedad/Variety: Riesling</p>
                    <p>Precio: Botella 750 ml $16.200 · Copa 187 ml $4.200</p>
                </div>
            </div>
            <br>
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto6.webp" alt="COASTAL BRUT">
                <div class="texp">
                    <h4>CORRALILLO PINOT NOIR</h4>
                    <p>San Antonio Variedad/Variety: Chardonnay & Pinot Noir</p>
                    <p>Precio: Botella 750 ml $28.000 · Copa 187 ml $4.980</p>
                </div>
            </div>
            <br>
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto7.webp" alt="COASTAL BRUT">
                <div class="texp">
                    <h4>EQ GRANITE PINOT NOIR</h4>
                    <p>San Antonio Variedad/Variety: Chardonnay & Pinot Noir</p>
                    <p>Precio: Botella 750 ml $28.000 · Copa 187 ml $4.980</p>
                </div>
            </div>
            <br>
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto8.webp" alt="COASTAL BRUT">
                <div class="texp">
                    <h4>MATETIC COASTAL BRUT</h4>
                    <p>San Antonio Variedad/Variety: Chardonnay & Pinot Noir</p>
                    <p>Precio: Botella 750 ml $28.000 · Copa 187 ml $4.980</p>
                </div>
            </div>
            <br>
            <div class="Espumantes-1">
                <img class="foot-1" src="/static/img/img5/foto9.jpeg" alt="COASTAL BRUT">
                <div class="texp">
                    <h4>DESCORCHE | CORKAGE FEE:</h4>
                    <p>San Antonio Variedad/Variety: Chardonnay & Pinot Noir</p>
                    <p>Precio: Botella 750 ml $28.000 · Copa 187 ml $4.980</p>
                </div>
            </div>
        </div>
        <br>
        <div id="Contenedor-2">
            <div class="cont-1">
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/1.webp" 
                        alt="CORRALILLO CABERNET SAUVIGNON">
                    <div class="texp">
                        <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                        <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                        <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                    </div>
                </div>
                <br>
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/2.webp" 
                        alt="CORRALILLO CABERNET SAUVIGNON">
                    <div class="texp">
                        <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                        <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                        <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                    </div>
                </div>
                <br>
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/3.webp" 
                        alt="CORRALILLO CABERNET SAUVIGNON">
                    <div class="texp">
                        <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                        <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                        <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                    </div>
                </div>
                <br>
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/4.webp" 
                        alt="CORRALILLO CABERNET SAUVIGNON">
                    <div class="texp">
                        <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                        <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                        <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                    </div>
                </div>
                <br>
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/5.webp"
                        alt="CORRALILLO CABERNET SAUVIGNON">
                    <div class="texp">
                        <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                        <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                        <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                    </div>
                </div>
                <br>
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/6.webp" 
                        alt="CORRALILLO CABERNET SAUVIGNON">
                    <div class="texp">
                        <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                        <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                        <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                    </div>
                </div>
                <br>
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/7.webp"
                        alt="CORRALILLO CABERNET SAUVIGNON">
                        <div class="texp">
                            <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                    <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                    <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                        </div>
                </div>
                <br>
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/8.webp" 
                        alt="CORRALILLO CABERNET SAUVIGNON">
                        <div class="texp">
                            <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                            <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                            <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                        </div>
                </div>
                <br>
                <div class="Espumantes-1">
                    <img class="foot-1" src="/static/img/img5/9.jpg" 
                        alt="CORRALILLO CABERNET SAUVIGNON">
                        <div class="texp">
                            <h4>CORRALILLO CABERNET SAUVIGNON</h4>
                            <p>. Maipo Variedad/Variety: Cabernet Sauvignon</p>
                            <p>Precio: Botella 750 ml $19.500 · Copa 187 ml $4.800</p>
                        </div>
                </div>
            </div>

        </div>

    </div>

    <div id="box3">

        <div id="ubicacion">
            <h3 class="red">ESTAMOS EN:</h3>
            <p>Flor de coral 8040, Renca Santiago de Chile</p>
        </div>
    
        <div id="Horarios">
            <h3 class="red">HORARIOS:</h3>
            <p>De Martes a Sábado: 12:30- 21:30 Domingo: 13:00- 18:00 Lunes: Cerrado</p>
        </div>
    
        <div id="Contacto">
            <h3 class="red">CONTACTO:</h3>
            <p>+569 3312 7632 gisgisg@equilibrio.com</p>
            <div id="anclaje">
                <a href="https://www.instagram.com/">
                    <img src="/static/img/img1/square-instagram-brands-solid.svg" id="insta">
                </a>
                <a href="https://www.facebook.com/?locale=es_LA">
                    <img src="/static/img/img1/facebook-brands-solid.svg" id="face">
                </a>
                <a href="https://x.com/?lang=es">
                    <img src="/static/img/img1/xmark-solid.svg" id="x">
                </a>
            </div>
        </div>
    
    </div>

</body>

</html>